<div class="container-fluid">
  <div class="row">
    <div class="col mx-auto bg-dark">
      <div id="map"></div>
    </div>
    <div class="bg-secondary">
      <a
        class="btn btn-light mx-auto"
        data-toggle="collapse"
        data-target="#sidemenu"
        aria-expanded="false"
        aria-controls="sidemenu"
      >
        <i class="fas fa-arrow-right"></i>
      </a>
    </div>
    <div class="col-md-4 collapse width bg-secondary" id="sidemenu">
      <table>
        <thead>
          <tr>
            <th>Dados</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list | async">
            <td>{{ item.PEDRO_ALVARES_CABRAL.imo }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
